<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../css/contactForm.css" type="text/css" rel="stylesheet"></link>
</head>
<body>


<div class="container">
    <div class="row msgWrapper">
        <form id="contact" action="/index.html" method="get" th:object="${error}">
        <h5>The Following values are not correct, please fill them again</h5>
        <div class="col-md-12">
            <fieldset>
                <div th:unless="${ #lists.isEmpty(error) }">
                    <dl th:each="todo : ${error}">
                        <dt class="todoHeadline">
                            <h4><span th:text="${todo}"></span></h4>
                        </dt>
                    </dl>
                </div>
                <div th:if="${ #lists.isEmpty(error) }">
                </div>
            </fieldset>
            <fieldset>
                <button type="submit">Go Back</button>
            </fieldset>
        </div>
        </form>
    </div>
</div>

</body>
</html>